# express server port
PORT=3003

# when you first run `npm start` it will complain that SESSION_SECRET is missing and give you a generated random value for it
# use that value to define your real SESSION_SECRET in .env and then retry the start command
SESSION_SECRET=verylongsessionsecretalphanumericvaluewhichisgeneratedforyou